/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.cube {
    display: flex;
    gap: 10px;
    padding: 20px;
}

/* Boxes */
.box {
    height: 100px;
    width: 100px;

    font-family: Tahoma;
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Gradient background */
    background: linear-gradient(135deg, #eeeff2, #dfe1e7);

    /* Shadow effect */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

    /* Smooth hover animation */
    transition: all 0.3s ease;

    border-left: 10px dotted #D0D0FF;
}

/* Hover effect */
.box:hover {
    background: linear-gradient(135deg, yellow, gold);
    transform: scale(1.08);
    cursor: pointer;
}


.box:nth-child(6) {
    position: fixed;
    bottom: 10px;
    right: 10px;

    border: 4px solid black;
    background: linear-gradient(135deg, #687291, #4a5568);
    color: white;
}